<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <mirrors>
    <mirror>
      <id>mirror-lyo-snapshots-to-central-portal</id>
      <name>Mirror lyo-snapshots to Maven Central snapshots</name>
      <url>https://central.sonatype.com/repository/maven-snapshots/</url>
      <mirrorOf>lyo-snapshots</mirrorOf>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>central-portal-snapshots</id>
      <repositories>
        <repository>
          <id>central-portal-snapshots</id>
          <name>Maven Central Portal Snapshots</name>
          <url>https://central.sonatype.com/repository/maven-snapshots/</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>central-portal-snapshots</activeProfile>
  </activeProfiles>
</settings>
