# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Test Suite [OSLC Core 2.0 / CM]

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]
  # schedule:
  #   - cron: "30 4 * * 5" # catch SNAPSHOT breaking changes
  merge_group:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        jdk: ['21', '25']
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v6
        with:
          path: testsuite
      - uses: actions/checkout@v6
        with:
          repository: oslc-op/refimpl
          ref: main
          path: refimpl
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk }}
          distribution: 'zulu'
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build RefImpl
        run: |
          # disable basic auth
          cp -f testsuite/org.eclipse.lyo.testsuite.server/config/refimpl2020/cm/web.xml refimpl/src/server-cm/src/main/webapp/WEB-INF/web.xml
          mvn -B -f refimpl/src/lib-common/pom.xml clean install
          mvn -B -f refimpl/src/pom.xml clean package
          docker compose -f refimpl/src/docker-compose.yml build
      - name: Run Lyo Test Suite
        run: |
          docker compose -f refimpl/src/docker-compose.yml up --detach
          >&2 echo "Sleeping for 20 seconds"
          sleep 20
          >&2 echo "Done sleeping"
          testsuite/scripts/run-suite.sh
